<template>
  <svg
    viewBox="0 0 512 512"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="roazhon-logo"
  >
    <g>
      <path
        d="M466.275 82.8244C498.489 80.5561 512.294 17.0429 447.868 17.0429H394.946C394.013 16.9334 393.067 17.0342 392.179 17.3375C391.291 17.6408 390.484 18.1388 389.819 18.7939C389.155 19.449 388.65 20.2442 388.342 21.1196C388.035 21.9951 387.932 22.9279 388.043 23.8479V128.191C388.011 129.093 388.168 129.992 388.503 130.832C388.839 131.672 389.346 132.435 389.993 133.073C390.641 133.712 391.415 134.212 392.267 134.543C393.119 134.873 394.031 135.028 394.946 134.996H411.053C411.968 135.028 412.88 134.873 413.732 134.543C414.584 134.212 415.358 133.712 416.005 133.073C416.653 132.435 417.16 131.672 417.496 130.832C417.831 129.992 417.988 129.093 417.955 128.191V39.7261C463.974 37.4578 461.673 46.5311 463.974 55.6045C463.974 76.0194 434.062 76.0194 434.062 76.0194V78.2877L466.275 130.459C466.275 132.728 470.877 134.996 473.178 134.996H496.188C500.79 134.996 500.789 130.459 498.489 128.191C486.985 113.611 476.234 98.47 466.275 82.8244Z"
        fill="#002856"
      />
      <path
        d="M233.522 17H139.637C138.197 17.1131 136.809 17.5895 135.607 18.3839C134.405 19.1782 133.427 20.2641 132.768 21.5383L125.898 35.1533C123.608 39.6916 125.898 41.9607 130.478 41.9607H164.826V128.189C164.794 129.091 164.95 129.99 165.284 130.831C165.618 131.671 166.123 132.434 166.767 133.073C167.411 133.711 168.181 134.211 169.029 134.542C169.877 134.873 170.785 135.028 171.696 134.996H187.725C188.635 135.028 189.543 134.873 190.391 134.542C191.239 134.211 192.009 133.711 192.653 133.073C193.298 132.434 193.803 131.671 194.137 130.831C194.471 129.99 194.626 129.091 194.594 128.189V41.9607H224.362C226.652 41.9607 231.232 39.6916 231.232 37.4224L238.102 23.8075C240.392 19.2692 238.102 17 233.522 17Z"
        fill="#002856"
      />
      <path
        d="M310.842 21.5883C310.842 19.2941 308.57 17 304.025 17H292.663C290.391 17 288.118 17.0001 288.118 19.2942L235.852 124.823C233.58 127.118 235.852 134 242.67 134H256.304C258.577 134 260.849 134 260.849 131.706L269.939 113.353H329.022L338.112 131.706C338.112 134 342.657 134 342.657 134H358.564C363.109 134 365.381 129.412 363.108 124.823L310.842 21.5883ZM279.029 92.7059L299.48 51.4117L319.932 92.7059H279.029Z"
        fill="#002856"
      />
      <path
        d="M100.128 74.0418C86.6841 67.0166 72.1687 62.3551 57.1958 60.2548C48.1575 57.9569 43.6382 55.6591 43.6382 48.7655C43.9558 46.7912 44.7383 44.9244 45.9186 43.3239C47.0989 41.7235 48.6422 40.437 50.417 39.5741C55.4293 37.5198 60.8565 36.7313 66.234 37.2763C74.1947 37.7322 81.9369 40.0941 88.8298 44.1698C89.421 44.483 90.0681 44.672 90.7326 44.7256C91.3972 44.7793 92.0658 44.6965 92.6982 44.4821C93.3307 44.2677 93.9142 43.9262 94.4142 43.4778C94.9142 43.0294 95.3203 42.4833 95.6086 41.872L102.387 28.0849C104.647 25.787 102.387 23.4892 100.128 21.1913C89.1357 17.0613 77.7886 13.9842 66.234 12C27.8212 12 16.5233 34.9785 16.5233 46.4677C16.5233 64.8505 27.8212 76.3397 50.417 80.9354L68.4937 85.5311C77.532 87.8289 82.051 90.1267 82.051 97.0203C81.7333 98.9946 80.9512 100.862 79.7709 102.462C78.5906 104.062 77.047 105.349 75.2721 106.212C70.2598 108.266 64.8326 109.054 59.4552 108.51C48.9084 109.03 38.5155 105.778 30.0806 99.3182C25.5614 97.0203 23.302 99.3182 21.0424 99.3182L12.0043 110.807C12.0043 110.807 9.74466 115.403 12.0043 117.701C24.1926 127.706 39.2779 133.358 54.9361 133.786C67.657 134.897 80.3792 131.662 91.0895 124.594C95.3946 121.476 98.8818 117.332 101.245 112.525C103.609 107.717 104.777 102.394 104.647 97.0203C104.38 86 104.5 78 100.128 74.0418Z"
        fill="#002856"
      />
    </g>
    <g>
      <path
        d="M114.5 305C106.492 332.521 104.838 361.303 110.945 389.312C117.052 417.32 130.067 443.34 148.795 464.985L163.888 452.225C137.448 421.449 124.267 381.389 127.247 340.857C130.226 300.325 149.121 262.641 179.776 236.096C210.43 209.55 250.333 196.318 290.705 199.309C331.077 202.3 368.612 221.271 395.053 252.046L410.146 239.286C380.291 204.772 338.027 183.546 292.614 180.258C247.2 176.969 202.34 191.886 167.86 221.74C143.248 243.16 125.158 270.27 115.5 301.5L115 303L114.5 305Z"
        fill="#002856"
      />
    </g>
    <g>
      <path
        d="M232.921 257.765C222.81 259.232 218.316 260.267 212.44 262.511L205.699 265.099V284.772V304.358L212.44 303.323C221.255 301.856 236.983 301.856 242.427 303.323C251.674 305.739 256.945 309.794 260.056 316.87C264.982 327.914 264.118 349.571 258.414 360.788C255.995 365.447 250.982 370.193 245.884 372.523C239.834 375.284 232.402 376.319 218.057 376.319H205.699V396.596V416.872H218.057H230.415L232.23 420.151C233.18 421.877 241.131 436.89 249.773 453.543C267.315 487.021 272.414 495.391 279.5 502.121C285.636 507.902 291.772 510.749 301.105 511.957C314.673 513.769 328.068 510.145 333.425 503.329C338.178 497.116 339.043 493.665 339.475 478.307L339.82 464.329H330.228C324.006 464.329 319.599 463.897 317.784 463.121C313.809 461.481 310.611 457.167 301.364 440.859C278.291 400.306 277.859 399.616 281.229 399.616C283.044 399.616 292.722 393.058 297.475 388.571C311.648 375.37 319.08 352.591 317.697 326.62C317.006 313.159 314.846 304.704 309.228 293.487C297.821 270.794 276.13 258.542 245.884 257.679C240.18 257.506 234.39 257.593 232.921 257.765Z"
        fill="#000000"
      />
    </g>
  </svg>
</template>

<style scoped>
/* dark-blue 002856 */
/* cyan 53BAAA */
.roazhon-logo {
  & g:nth-child(1) {
    & path {
      fill: #002856;
    }
  }
  & g:nth-child(2) {
    & path {
      fill: #002856;
    }
  }
  & g:nth-child(3) {
    & path {
      fill: #000000;
    }
  }
}
</style>
