<template>
  <div v-cloak class="my-24">
    <form
      class="px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-md"
      @submit.prevent="onSubmit"
    >
      <div class="mb-4">
        <SelectLineNumber
          v-cloak
          @line-selected="getLineNumber"
        ></SelectLineNumber>
        <!-- <label class="block mb-2 text-sm font-bold text-gray-700" for="lineNb">
          Ligne
        </label>
        <input
          id="lineNb"
          v-model="lineNb"
          class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
          type="number"
          placeholder="lineNb"
        /> -->
      </div>
      <div class="mb-4">
        <label
          class="block mb-2 text-sm font-bold text-gray-700"
          for="busStopOrigin"
        >
          Arrêt de départ
        </label>
        <input
          id="busStopOrigin"
          v-model="busStopOrigin"
          class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="busStopOrigin"
        />
      </div>
      <div class="mb-4">
        <label
          class="block mb-2 text-sm font-bold text-gray-700"
          for="destination"
        >
          Destination
        </label>
        <input
          id="destination"
          v-model="destination"
          class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="destination"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Recherche
        </button>
      </div>
    </form>
    <div class="p-5 overflow-auto bg-gray-300 rounded-md max-h-96">
      <div v-for="transport in nextTransports" :key="transport.id">
        {{ formatDate(transport.record.fields.depart).date }} :
        {{ formatDate(transport.record.fields.depart).time }}

        <!-- <pre>{{ transport }}</pre> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NextBus',
  data() {
    return {
      nextTransports: [],
      lineNb: {},
      busStopOrigin: 'République',
      destination: 'Acigné',
    }
  },
  methods: {
    onSubmit() {
      this.nextBusApi()
    },
    async getLineNumber(value) {
      this.lineNb = value

      // Informations about the selected line
      const busSpecificLine = `https://data.explore.star.fr/api/v2/catalog/datasets/tco-bus-topologie-lignes-td/records?search=${this.lineNb.fields.nomcourt}&rows=10&pretty=false&timezone=UTC`
      const resBusSpecificLine = await this.$http.get(busSpecificLine)
      // eslint-disable-next-line no-unused-vars
      const dataBusSpecificLine = await resBusSpecificLine.json()
      // console.log(dataBusSpecificLine)

      // Informations about 'parcours' of selected line
      const parcours = `https://data.explore.star.fr/api/v2/catalog/datasets/tco-bus-topologie-parcours-td/records?refine=nomcourtligne:${this.lineNb.fields.nomcourt}&rows=10&pretty=false&timezone=UTC`
      console.log(parcours)
      const resParcours = await this.$http.get(parcours)
      const dataParcours = await resParcours.json()
      // console.log(dataParcours)

      // Next bus availables
      const direction = dataParcours.records[0].record.fields.nomarretdepart
      const nextBus = `https://data.explore.star.fr/api/v2/catalog/datasets/tco-bus-circulation-passages-tr/records?search=${direction}&sort=depart&refine=nomcourtligne%3A${this.lineNb.fields.nomcourt}&refine=sens%3A1&rows=10&select=*&pretty=false&timezone=UTC`
      // console.log(nextBus)
      const resNextBus = await this.$http.get(nextBus)
      const dataNextBus = await resNextBus.json()
      // console.log(dataNextBus.records)
      this.nextTransports = dataNextBus.records
    },
    formatDate(date) {
      date = new Date(date)
      const options = {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      }
      const userLang = navigator.language || navigator.userLanguage
      return {
        time: date.toLocaleTimeString(),
        date: date.toLocaleDateString(userLang, options),
      }
    },
    async nextBusApi() {
      // v2
      // dataset
      // /{source}/datasets/{dataset_id}/records

      // search bus lines : https://data.explore.star.fr/api/v2/catalog/datasets/tco-bus-topologie-lignes-td/records?search=164&rows=10&pretty=false&timezone=UTC
      // line 'Parcours' : https://data.explore.star.fr/api/v2/catalog/datasets/tco-bus-topologie-parcours-td/records?refine=nomcourtligne:64&rows=10&pretty=false&timezone=UTC
      // bus line 64, République bus stop,sens to Acigné : https://data.explore.star.fr/api/v2/catalog/datasets/tco-bus-circulation-passages-tr/records?search=R%C3%A9publique&refine=nomcourtligne%3A64&refine=sens%3A1&rows=10&select=*&pretty=false&timezone=UTC
      //
      // Prochains passages des lignes de bus du réseau STAR en temps réel
      // https://data.explore.star.fr/explore/dataset/tco-bus-circulation-passages-tr/api/?sort=depart&rows=10&refine.nomcourtligne=64&refine.sens=1&refine.precision=Temps+r%C3%A9el&refine.nomarret=R%C3%A9publique

      const results = 10
      const baseUrl = `https://data.explore.star.fr/api/records/1.0/search/?dataset=tco-bus-circulation-passages-tr&q=&rows=${results}&sort=depart&facet=idligne&facet=nomcourtligne&facet=sens&facet=destination&facet=precision`
      const url = `${baseUrl}&refine.nomcourtligne=${this.lineNb.fields.nomcourt}&refine.destination=${this.destination}&refine.nomarret=${this.busStopOrigin}`
      console.log(url)
      const res = await this.$http.get(url)
      const data = await res.json()

      console.log(data.records)
      this.nextTransports = data.records.reverse()
    },
  },
}
</script>
