<template>
  <!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
  <!--
  Custom select controls like this require a considerable amount of JS to implement from scratch. We're planning
  to build some low-level libraries to make this easier with popular frameworks like React, Vue, and even Alpine.js
  in the near future, but in the mean time we recommend these reference guides when building your implementation:

  https://www.w3.org/TR/wai-aria-practices/#Listbox
  https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-collapsible.html
-->
  <div v-if="!isLoading" v-click-outside="hide" class="space-y-1">
    <label
      id="listbox-label"
      class="block mb-2 text-sm font-bold text-gray-700"
    >
      Ligne de bus
    </label>
    <div class="relative">
      <span class="inline-block w-full rounded-md shadow-sm">
        <button
          type="button"
          aria-haspopup="listbox"
          aria-expanded="true"
          aria-labelledby="listbox-label"
          class="relative w-full py-2 pl-3 pr-10 text-left transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md cursor-default focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
          @click="selectorIsOpen = !selectorIsOpen"
        >
          <div
            v-if="currentLine !== null && currentLine.fields"
            class="flex items-center space-x-3"
          >
            <div
              v-if="currentLine.fields.nomfamillecommerciale !== 'Express'"
              class="flex flex-shrink-0 w-8 h-8 p-1 font-bold rounded-full"
              :style="`background-color: ${currentLine.fields.couleurligne}; color: ${currentLine.fields.couleurtexteligne}`"
            >
              <div class="m-auto">
                {{ currentLine.fields.nomcourt }}
              </div>
            </div>
            <div
              v-else
              class="flex flex-shrink-0 h-8 p-1 font-bold rounded-full"
              :style="`background-color: ${line.fields.couleurligne}; color: ${line.fields.couleurtexteligne}`"
            >
              <div class="m-auto">
                {{ currentLine.fields.nomcourt }}
              </div>
            </div>
            <span class="block truncate">
              {{ currentLine.fields.nomlong }}
            </span>
          </div>
          <div v-else class="flex items-center space-x-3">
            <span class="block truncate"> Choisir une ligne de bus </span>
          </div>
          <span
            class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
          >
            <svg
              class="w-5 h-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="none"
              stroke="currentColor"
            >
              <path
                d="M7 7l3-3 3 3m0 6l-3 3-3-3"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </button>
      </span>
      <div
        class="absolute w-full mt-1 transition duration-100 ease-in bg-white rounded-md shadow-lg"
        :class="selectorIsOpen ? 'opacity-100 block' : 'opacity-0 hidden'"
      >
        <ul
          tabindex="-1"
          role="listbox"
          aria-labelledby="listbox-label"
          aria-activedescendant="listbox-item-3"
          class="py-1 overflow-auto text-base leading-6 rounded-md shadow-xs max-h-56 focus:outline-none sm:text-sm sm:leading-5"
        >
          <li class="my-2">
            <input
              id="search"
              v-model="search"
              class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="search"
              autofocus
            />
          </li>
          <li
            v-for="line in linesNb"
            id="listbox-item-0"
            :key="line.id"
            role="option"
            :class="
              currentLine !== null
                ? line.fields.nomcourt === currentLine.fields.nomcourt
                  ? 'bg-indigo-400'
                  : ''
                : ''
            "
            class="relative py-2 pl-3 text-gray-600 transition-colors duration-300 cursor-pointer select-none pr-9 hover:bg-indigo-400"
            @click="selectLine(line)"
          >
            <div class="flex items-center space-x-3">
              <div
                v-if="line.fields.nomfamillecommerciale !== 'Express'"
                class="flex flex-shrink-0 w-8 h-8 p-1 font-bold rounded-full"
                :style="`background-color: ${line.fields.couleurligne}; color: ${line.fields.couleurtexteligne}`"
              >
                <div class="m-auto">
                  {{ line.fields.nomcourt }}
                </div>
              </div>
              <div
                v-else
                class="flex flex-shrink-0 h-8 p-1 font-bold rounded-full"
                :style="`background-color: ${line.fields.couleurligne}; color: ${line.fields.couleurtexteligne}`"
              >
                <div class="m-auto">
                  {{ line.fields.nomcourt }}
                </div>
              </div>
              <span
                class="block font-normal truncate"
                :class="
                  currentLine !== null
                    ? line.fields.nomcourt === currentLine.fields.nomcourt
                      ? 'font-bold'
                      : 'font-semibold'
                    : ''
                "
              >
                {{ line.fields.nomlong }}
              </span>
            </div>
            <span
              v-if="
                currentLine !== null &&
                line.fields.nomcourt === currentLine.fields.nomcourt
              "
              class="absolute inset-y-0 right-0 flex items-center pr-4"
            >
              <!-- Heroicon name: check -->
              <svg
                class="w-5 h-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
export default {
  name: 'SelectLineNumber',
  directives: {
    ClickOutside,
  },
  data() {
    return {
      selectorIsOpen: false,
      linesNb: [],
      linesNbOriginal: [],
      currentLine: null,
      isLoading: true,
      search: '',
    }
  },
  watch: {
    search(newValue, oldValue) {
      if (newValue !== '') {
        this.linesNb = this.linesNbOriginal.filter((line) =>
          line.fields.nomcourt.includes(newValue.toLowerCase())
        )
      } else {
        this.linesNb = this.linesNbOriginal
      }
    },
  },
  created() {
    this.getLines()
  },
  methods: {
    async getLines() {
      const url =
        'https://data.explore.star.fr/api/records/1.0/search/?dataset=tco-bus-topologie-lignes-td&q=&rows=90&sort=id&facet=nomfamillecommerciale'
      const res = await this.$http.get(url)
      const data = await res.json()
      this.linesNbOriginal = data.records
      this.linesNb = data.records
      //   this.currentLine = data.records[0]
      this.isLoading = false
    },
    hide() {
      this.search = ''
      this.selectorIsOpen = false
    },
    selectLine(line) {
      this.currentLine = line
      this.hide()
      this.$emit('line-selected', line)
    },
  },
}
</script>
