@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@responsive {
  .word-wraping {
    text-align: justify !important;
    -webkit-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -ms-hyphens: auto !important;
    hyphens: auto !important;
  }
  .w-max-content {
    width: max-content;
  }
  .center-it {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
body {
  @apply overflow-y-scroll;
}

@font-face {
  font-family: 'VistaSansOT-Medium';
  src: url('../fonts/VistaSansOT-Med.otf');
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: 'loading…';
}
