<template>
  <div>
    <div
      class="fixed min-w-full min-h-screen bg-no-repeat bg-cover bg-parlement-de-bretagne"
    >
      <div
        class="absolute top-0 left-0 w-full h-full bg-white bg-opacity-75"
      ></div>
    </div>
    <div class="relative">
      <AppNavbar />
      <Nuxt class="min-h-screen pt-20" />
      <AppFooter />
      <AppBackToTop />
    </div>
    <client-only>
      <tailwind-helper />
    </client-only>
  </div>
</template>

<script>
export default {
  data() {
    return {
      scroll: false,
    }
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    toggleSidemenu() {
      this.$refs.sidebar.toggleSidemenu()
    },
    closeSidemenu() {
      if (this.$store.state.layerVisible) {
        this.$refs.sidebar.closeSidemenu()
      }
    },
    handleScroll() {
      const currentScrollPosition =
        window.pageYOffset || document.documentElement.scrollTop
      if (currentScrollPosition > 100) {
        this.scroll = true
      } else {
        this.scroll = false
      }
      if (currentScrollPosition < 0) {
        return
      } // Stop executing this function if the difference between
      // current scroll position and last scroll position is less than some offset
      if (Math.abs(currentScrollPosition - this.lastScrollPosition) < 60) {
        return
      }
      this.showNavbar = currentScrollPosition < this.lastScrollPosition
      this.lastScrollPosition = currentScrollPosition
    },
  },
}
</script>
