<template>
  <div>
    <div class="container relative z-10 pt-5 mx-auto">
      <div class="flex">
        <icon name="roazhon-bus" :size="250" class="mx-auto" />
      </div>
      <next-bus></next-bus>
    </div>
  </div>
</template>

<script>
import NextBus from '@/components/NextBus.vue'

export default {
  name: 'HomeIndex',
  components: {
    NextBus,
  },
  head() {
    return {
      title: 'Roazhon STAR Bus',
      titleTemplate: '',
      meta: [
        // hid est utilisé comme identifiant unique. N'utilisez pas `vmid` car ça ne fonctionnera pas
        {
          hid: 'description',
          name: 'description',
          content: 'Ma description personnalisée',
        },
      ],
    }
  },
}
</script>

<style scoped></style>
