<template>
  <!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
  <footer class="bg-white bg-opacity-75">
    <div
      class="max-w-screen-xl px-4 py-6 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8"
    >
      <nav class="flex flex-wrap justify-center -mx-5 -my-2">
        <nuxt-link
          :to="{ name: 'about' }"
          class="px-5 py-2 text-base font-semibold leading-6 text-gray-500 transition-colors duration-300 rounded-md hover:bg-gray-300 hover:text-gray-800"
        >
          À propos
        </nuxt-link>
      </nav>
      <div class="mx-auto w-max-content">
        <!-- <icon name="play-store" :width="146" :height="46" /> -->
      </div>
      <div class="flex items-center justify-center mt-8 space-x-6">
        <a
          v-for="network in socialNetworks"
          :key="network.id"
          v-tooltip="network.label"
          :href="network.link"
          :class="`hover:${network.icon}`"
          class="text-gray-400 hover:text-gray-500"
        >
          <span class="sr-only">
            {{ network.label }}
          </span>
          <icon :name="network.icon" :size="30" />
        </a>
      </div>

      <p
        class="flex items-center mx-auto mt-8 text-base leading-6 text-center text-gray-400 w-max-content"
      >
        <a
          href="https://creativecommons.org"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center justify-center px-1 py-2 text-base leading-6 text-center text-gray-400 transition-colors duration-300 rounded-md hover:text-gray-600"
        >
          <icon
            v-for="icon in creativeCommons"
            :key="icon.id"
            :name="icon"
            :size="20"
            class="mr-1"
          />
        </a>
        <a
          :href="packageJson.homepage"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center justify-center px-1 py-2 text-base leading-6 text-center text-gray-400 transition-colors duration-300 rounded-md hover:text-gray-600"
        >
          {{ getYear }} · {{ packageJson.author.name }}.
          {{ packageJson.license }} License,
        </a>
        <a
          href="https://nuxtjs.org"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center justify-center px-1 py-2 text-base leading-6 text-center text-gray-400 transition-colors duration-300 rounded-md hover:nuxt-icon group hover:text-gray-600"
        >
          built with
          <icon name="nuxt" :size="20" class="mx-1" />
          <span class="font-medium font-quicksand">
            <span
              class="transition-colors duration-300 group-hover:text-gray-nuxt"
              >NUXT</span
            ><span
              class="transition-colors duration-300 group-hover:text-green-nuxt"
              >JS</span
            ></span
          >.
        </a>
      </p>
    </div>
  </footer>
</template>

<script>
import packageJson from '~/package.json'
export default {
  name: 'AppFooter',
  data() {
    return {
      packageJson,
      creativeCommons: [
        'creative-commons',
        'creative-commons-by',
        'creative-commons-nc',
      ],
      socialNetworks: [
        {
          label: 'Rennes Métropole',
          icon: 'rennes-logo',
          link: 'https://metropole.rennes.fr/',
        },
        {
          label: 'STAR',
          icon: 'star-logo',
          link: 'https://www.star.fr/',
        },
        {
          label: 'STAR Data Explore',
          icon: 'star-data-explore-logo',
          link: 'https://data.explore.star.fr/page/home/',
        },
      ],
    }
  },
  computed: {
    getYear() {
      const beginDate = 2020
      const currentDate = new Date().getFullYear()
      let final = ''
      if (beginDate !== currentDate) {
        final = `${beginDate} - ${currentDate}`
      } else {
        final = beginDate
      }
      return final
    },
  },
}
</script>

<style scoped>
@variants hover {
  /deep/ path {
    @apply transition-colors duration-300;
  }
  /deep/ .nuxt-icon:hover {
    & path:nth-child(1) {
      fill: #00c58e;
    }
    & path:nth-child(2) {
      fill: #2f495e;
    }
    & path:nth-child(3) {
      fill: #108775;
    }
  }
  /deep/ .rennes-logo:hover path {
    fill: #000000;
  }
  /deep/ .star-logo:hover path {
    fill: #002856;
  }
  /deep/ .star-data-explore-logo:hover {
    & g:nth-child(1) {
      & path {
        fill: #00c58e;
      }
    }
    & g:nth-child(2) {
      & path {
        fill: #2f495e;
      }
    }
  }
}
</style>
