<template>
  <header
    class="fixed z-50 w-full text-gray-700 transition-colors duration-300 bg-opacity-75 body-font"
    :class="{ 'bg-white shadow-md': scroll }"
  >
    <div
      class="container flex flex-col flex-wrap items-center p-3 mx-auto md:flex-row"
    >
      <nuxt-link
        :to="{ name: 'home' }"
        class="flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0 group"
      >
        <icon name="roazhon-bus" :size="30" class="mx-auto" />
        <span
          class="ml-3 text-xl transition-colors duration-300 border-b-2 border-transparent group-hover:border-black"
        >
          Roazhon STAR Bus
        </span>
      </nuxt-link>
      <nav
        class="flex flex-wrap items-center justify-center text-base md:ml-auto md:mr-auto"
      >
        <!-- <a class="mr-5 hover:text-gray-900">First Link</a> -->
      </nav>
      <button
        class="inline-flex items-center px-3 py-1 mt-4 text-base bg-gray-200 border-0 rounded focus:outline-none hover:bg-gray-300 md:mt-0"
      >
        Button
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-1"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </header>
</template>

<script>
export default {
  name: 'AppNavbar',
  data() {
    return {
      scroll: false,
    }
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    scrollTo() {
      return window.scrollTo({
        bottom: document.querySelector('#__nuxt'),
        behavior: 'smooth',
      })
    },
    handleScroll() {
      if (window.scrollY > 50) {
        this.scroll = true
      } else {
        this.scroll = false
      }
    },
  },
}
</script>
